<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <meta name="description" content="Có vẻ như trang bạn đang tìm kiếm không tồn tại.">
    <meta name="keywords" content="404 error, page not found, error page">
    <style>
        :root {
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:wght@400;700&display=swap');
        }

        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
            color: #acbac3;
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .container {
            text-align: center;
        }

        #warning-icon {
            font-size: 80px;
            /* color: #fb0000; */
        }

        #warning-number {
            font-size: 55px;
            color: #e99415
        }

        #countdown {
            font-size: 30px;
            font-weight: bold;
            color: #e99415;
        }

        /* 
.warning-message {
    
} */

        h1 {
            font-size: 36px;
            margin: 20px 0;
        }

        p {
            font-size: 18px;
        }
    </style>

<body>
    <div class="container">
        <h1 class="warning-title">
            <span id="warning-icon">⚠️</span><span id="warning-number">
                <%= warning_number %>
            </span>
            <%= warning_message %>
        </h1>
        <p class="warning-message">Bạn sẽ được chuyển về trang chủ sau <span id="countdown">5</span> seconds...</p>
    </div>
    <script>
        // Countdown timer
        let countdown = 5;
        const countdownElement = document.getElementById('countdown');
        const interval = setInterval(() => {
            countdown--;
            if (countdown <= 0) {
                clearInterval(interval);
                window.location.href = '/';
            }
            countdownElement.textContent = countdown;
        }, 1000);
    </script>
</body>

</html>